body {
    background-image:url("../styles/background.jpg");
    position:absolute;
    width:100%;
    height:100%;
}

html {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

/* Banner */
.home-banner {
    background: black url('../styles/banner.png') no-repeat fixed center;
    background-size: cover;
    /* TODO: Remove later */
    border: none;
    padding-top: 15vh;
    height: 100vh;
}

/* TABLE OF CONTENTS */
.table-of-contents {
    font-family:'Ultra', serif;
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
    letter-spacing: 2.5px;
    color: inherit;
    font-size: 15px;
}

li > a {
    font-family:'Ultra', serif;
    text-align: center;
    color: inherit;
    font-size: 15px;
    font-weight: 50;
}

.tab-con {
    background-color: #c7ccd6;
    padding: 20px;
    margin-top: 150px;
    width: 30%;
    position: center;
    margin-left: 10px;
}

#tab-con-with-sub {
    background-color: #c7ccd6;
	line-height: 30px;
}

/* Tables */
strong {
  font-weight: bold;
}

table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 17px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 800px;
}

th {
  background: linear-gradient(#777, #444);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  text-shadow: 0 1px 0 #000;
}

th:after {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}

tr {
  background: url(../styles/in-table.png);
}

tr:nth-child(odd) td {
  background: #f1f1f1 url(../styles/in-table.png);
}

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

/* Page-Content-Box */
#page {
	width: 999px;
	margin: 0 auto 0 auto;
}

#content {
	float: left;
	width: 685px;
	padding: 33px;
}

p {
	font-family: 'Pangolin', cursive;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

dt {
	font-family:'Ultra', serif;
    font-size:20px;
    font-weight:800;
    line-height:1.1;
    color:inherit;
    margin-bottom:10px;
}

dd {
	font-family:'Pangolin', cursive;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    margin-bottom:15px;
}

.box {
	width: 950px;
	background-color: #c1c5cc;
}

.box-padding {
	padding: 50px 50px 50px 40px;
}

details {
    background: #EEE;
}

details summary {
    font-size: 18px;
    vertical-align: top;
    background: #333;
    color: #FFF;
    padding: 8px 10px;
    outline: none;
}

details[open] summary {
    background: #ADD8E6;
    color: #333;
}

/* Hide the default marker. */    
details summary::-webkit-details-marker {
    display: none;
}

/* Add the custom marker in the default state. */    
details summary:before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    content: "";
    background-image: url();
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Move the sprite image when the details box is open. */
details[open] summary:before {
    background-position: -180px 0;
}

/* aboutus.html */
.description {
    font-family: 'Pangolin', regular;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400px;
	line-height: 20px;
    text-align: center;
}

.forcontent img{
	height: 145px;
	width: 155px;
    border-radius: 70px;
	overflow:hidden;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
}

.maincontent {
    line-height: 50px;
    border-radius: 5px;
    width: 60%;
    padding-top: 50px;
    margin: auto;   
}

.content {
    width: 100%;
    float: left;
}

.forcontent {
    background-color:#DAD7D7;
    font-family: consolas;
    font-size: 18px;
    border-radius: 10px;
    padding: 8% 8%;
    padding-top: 20px;
    margin-top: 5%;
    height: auto;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, .2);
}

/* Glossary */
h2 {
    font-family:'Pangolin', cursive;
    text-align: center;
    padding: 25px;
    font-weight: 500;
    margin-bottom: -35px;
    letter-spacing: -1.5px;
    color: inherit;
    font-size: 20px;
}

/* html.html */
code {
    font-size: 20px;
}

/* Footer */
.line {
	width: 650px;
	margin-top:80px;
}

footer  { 
   font-family:'Pangolin', cursive;
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 20px;
   width: 100%;
   background: #999;
   text-align: center;
}

/* Orientation of tablet */

/* Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

/* Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
